 /* CSS */
 body {
   /* grid opzet */
   display: grid;
   grid-template-areas:
     "nav header"
     "nav main"
     "nav footer";
   grid-template-columns: 1fr 5fr;
   grid-template-rows: 1fr 10fr 9fr;
   gap: 1em;
   /* grid opzet */
 }

 header {
   grid-area: header;
 }


 
 .mobiele-nav {
  position: fixed;
  width: 15vw;
  top: 1vh;
   grid-area: nav;
   background-color: #567046;
   height: 95vh;
   border-radius: 5px;
   display:flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;

   & a {
      font-size: 0px;
   }

   /* bewerkt alleen de afbeeldingen binnen deze nav */
   & img {
     width: 4rem;
   }
 }

 .logo{
  margin-top: 10px;
  height: 2.5rem;
 }

.harry{
  margin-bottom: 5px;;
}


 .desktop-nav {
  position: sticky;
    top: 20px;
   display: none;
   background-color: #567046;
   height: 98vh;
  border-radius: 5px;
 }


 main {
   grid-area: main;
 }

 footer {
   grid-area: footer;
 }


 .boek {
   width: 75%;
 }

 .plant {
   width: 40%;
 }

 footer {
   background-color: #6D4C33;
 }

 /* responsive nav */
 @media (min-width: 855px) {

   .mobiele-nav {
    width: 30vw;
 
     & a {
      font-size: 1em;
      display: block;
      color: white;
      text-decoration: none;
   }
   }
   
 }